@{
    ViewBag.Title = "À propos de I-Baies";
}
<h2>@ViewBag.Title.</h2>
<!--<h3>@ViewBag.Message</h3>-->

<p style="width:50%;">I-Baies est un site d'achat en lignes de baies. 
    Dû à la crise économique de 2008, nous avons dû diversifier nos activités.
    Nous ne vendons plus que des baies, maintenant il y a aussi d'autres fruits. 
    Notre principal secteur d'activité demeur toute fois les baies. </p>

<img src="~/Images/baies.jpg" />

<p style="width:50%;">
    I-Baies s'engage à vous donner les petits fruits les plus frais qu'il soit! 
    C'est garatit!
</p>